.collapse{position:absolute;top:24px;right:-20px;z-index:4;margin-left:0;background:var(--panel2)}
.collapsed .collapse{display:grid;transform:rotate(180deg)}
@media(max-width:900px){.collapse{display:none!important}}
